.navigation {
  display: flex;
  list-style: none;
  gap: 30px;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.navigation a:hover {
  color: #f0f0f0;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .navigation {
    gap: 20px;
    height: 15vh;
  }
}
